* text=auto eol=lf

*.php text eol=lf
*.md text eol=lf
*.json text eol=lf
*.xml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Ignore from archives
/tests export-ignore
/phpunit.xml export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/CHANGELOG.md export-ignore
